@font-face {
  font-family: PP-Neue-Machina-title;
  src: url(PPNeueMachina-InktrapUltraboldItalic.otf);
}
@font-face {
  font-family: PP-Neue-Machina-text;
  src: url(PPNeueMachina-PlainRegular.otf);
}

* {
  box-sizing: border-box;
}

/* Reset */
body, h1, h2, h3, h4, h5, h6, p, span, a, ul, ol, li, div, main, section, article {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Font */
h1, h2, h3, h4, h5, h6, p, a, span, section, main, div {
  font-family: PP-Neue-Machina-title, sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-size: 3.4rem;
  font-weight: 400;
  text-align: center;
  color: #ddd;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0 10%;
}

p, a, span {
  font-family: PP-Neue-Machina-text, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.6rem;
}

span {
  color: #6d6d6d;
}

/* Animations */
@keyframes light-1 {
  0% {
    opacity: 1;
  }
  8.3333% {
    opacity: 1;
  }
  16.6666% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  33.3333% {
    opacity: 1;
  }
  41.6666% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  58.3333% {
    opacity: 0;
  }
  66.6666% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  83.3333% {
    opacity: 0;
  }
  91.6666% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes light-2 {
  0% {
    opacity: 0;
  }
  8.3333% {
    opacity: 1;
  }
  16.6666% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  33.3333% {
    opacity: 1;
  }
  41.6666% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  58.3333% {
    opacity: 0;
  }
  66.6666% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  83.3333% {
    opacity: 0;
  }
  91.6666% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes light-3 {
  0% {
    opacity: 0;
  }
  8.3333% {
    opacity: 0;
  }
  16.6666% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  33.3333% {
    opacity: 1;
  }
  41.6666% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  58.3333% {
    opacity: 0;
  }
  66.6666% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  83.3333% {
    opacity: 0;
  }
  91.6666% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes light-4 {
  0% {
    opacity: 0;
  }
  8.3333% {
    opacity: 0;
  }
  16.6666% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  33.3333% {
    opacity: 1;
  }
  41.6666% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  58.3333% {
    opacity: 1;
  }
  66.6666% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  83.3333% {
    opacity: 0;
  }
  91.6666% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes light-5 {
  0% {
    opacity: 0;
  }
  8.3333% {
    opacity: 0;
  }
  16.6666% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  33.3333% {
    opacity: 1;
  }
  41.6666% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  58.3333% {
    opacity: 1;
  }
  66.6666% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  83.3333% {
    opacity: 0;
  }
  91.6666% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes light-6 {
  0% {
    opacity: 0;
  }
  8.3333% {
    opacity: 0;
  }
  16.6666% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  33.3333% {
    opacity: 0;
  }
  41.6666% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  58.3333% {
    opacity: 1;
  }
  66.6666% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  83.3333% {
    opacity: 0;
  }
  91.6666% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes light-7 {
  0% {
    opacity: 0;
  }
  8.3333% {
    opacity: 0;
  }
  16.6666% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  33.3333% {
    opacity: 0;
  }
  41.6666% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  58.3333% {
    opacity: 1;
  }
  66.6666% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  83.3333% {
    opacity: 1;
  }
  91.6666% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes light-8 {
  0% {
    opacity: 0;
  }
  8.3333% {
    opacity: 0;
  }
  16.6666% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  33.3333% {
    opacity: 0;
  }
  41.6666% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  58.3333% {
    opacity: 1;
  }
  66.6666% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  83.3333% {
    opacity: 1;
  }
  91.6666% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes light-9 {
  0% {
    opacity: 0;
  }
  8.3333% {
    opacity: 0;
  }
  16.6666% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  33.3333% {
    opacity: 0;
  }
  41.6666% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  58.3333% {
    opacity: 0;
  }
  66.6666% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  83.3333% {
    opacity: 1;
  }
  91.6666% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/* Swiper */
.swiper-container, .swiper-wrapper {
  width: 100%;
  height: 100dvh;
}

.swiper-container {
  overflow: hidden;
}

.swiper-slide {
  cursor: grab;
}

.swiper-slide-one, .swiper-slide-two, .swiper-slide-three {
  background-image: url("images/img-slide-1.webp");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.swiper-slide-one h1 {
  padding-top: 26vh;
}

.swiper-slide-two {
  background-image: url("images/img-slide-2.webp");
  background-position: 45% 5%;
}

.swiper-slide-two h1 {
  padding-top: 29vh;
}

.swiper-slide-three {
  background-image: url("images/img-slide-3.webp");
  background-position: 0% 45%;
}

.swiper-slide-three h1 {
  padding-top: 25vh;
}

.swiper-slide-four {
  background-color: #bdbdbd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25vh 0 20px;
}

.swiper-slide-four h1, .swiper-slide-four p {
  color: #333333;
}

.swiper-slide-four h1 {
  transform: translateY(7vh);
}

/* Text Animations */
.swiper-slide:not(.swiper-slide-four) h1 {
  opacity: 0;
  transform: translateY(50px);
  transition-delay: 1.1s;
  transition-duration: 0.8s;
  transition-timing-function: ease-out;
}

.swiper-slide:not(.swiper-slide-four).swiper-slide-active h1 {
  opacity: 1;
  transform: translateY(0px);
}

/* Startanimation */
.swiper-wrapper.start-animation {
  animation: 1.5s start-animation cubic-bezier(0.7, 0, 0.5, 1);
}

@keyframes start-animation {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0px);
  }
}

/* SVG */
.swiper-slide-four svg {
  max-width: 30%;
  max-height: 40%;
  overflow: visible;
  align-self: center;
}

.swiper-slide-four svg>circle {
  filter: drop-shadow(0px 0px 40px hsla(0, 10%, 10%, 0.15)) blur(0.5px);
}

.swiper-slide-four svg g circle:nth-child(1) {
  filter: blur(8px);
}

.swiper-slide-four svg g circle:nth-child(2) {
  filter: blur(4px);
}

.swiper-slide-four svg g circle:nth-child(3) {
  filter: blur(2px);
}

.swiper-slide-four svg g circle:nth-child(4) {
  filter: blur(0.5px);
}

.swiper-slide-four svg g {
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.swiper-slide-four svg g#light-1 {
  animation-name: light-1;
}
.swiper-slide-four svg g#light-2, .swiper-slide-four svg g#light-16 {
  animation-name: light-2;
}
.swiper-slide-four svg g#light-3, .swiper-slide-four svg g#light-15 {
  animation-name: light-3;
}
.swiper-slide-four svg g#light-4, .swiper-slide-four svg g#light-14 {
  animation-name: light-4;
}
.swiper-slide-four svg g#light-5, .swiper-slide-four svg g#light-13 {
  animation-name: light-5;
}
.swiper-slide-four svg g#light-6, .swiper-slide-four svg g#light-12 {
  animation-name: light-6;
}
.swiper-slide-four svg g#light-7, .swiper-slide-four svg g#light-11 {
  animation-name: light-7;
}
.swiper-slide-four svg g#light-8, .swiper-slide-four svg g#light-10 {
  animation-name: light-8;
}
.swiper-slide-four svg g#light-9 {
  animation-name: light-9;
}

/* Responsive - Mobile */
@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.2rem;
  }
  .swiper-slide-one h1 {
    padding-top: 26vh;
  }
  .swiper-slide-two h1 {
    padding-top: 27vh;
  }
  .swiper-slide-three h1 {
    padding-top: 30vh;
  }
  .swiper-slide-three {
    background-position: 46% 5%;
  }
}