@font-face {
  font-family: ethnocentric;
  src: url("https://use.typekit.net/ljw2cui.css");
}

* {
  box-sizing: border-box;
}

/* Reset */
body, h1, h2, h3, h4, h5, h6, p, span, a, ul, ol, li, div, main, section, article {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Font */
h1, h2, h3, h4, h5, h6, p, a, span, section, main, div {
  font-family: ethnocentric, sans-serif;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  color: #ddd;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0 10%;
}

p, a, span {
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 600;
}

span {
  color: #888;
}

/* Animations */
@keyframes light-1 {
  0% {
    opacity: 1;
  }
  8.3333% {
    opacity: 1;
  }
  16.6666% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  33.3333% {
    opacity: 1;
  }
  41.6666% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  58.3333% {
    opacity: 0;
  }
  66.6666% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  83.3333% {
    opacity: 0;
  }
  91.6666% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes light-2 {
  0% {
    opacity: 0;
  }
  8.3333% {
    opacity: 1;
  }
  16.6666% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  33.3333% {
    opacity: 1;
  }
  41.6666% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  58.3333% {
    opacity: 0;
  }
  66.6666% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  83.3333% {
    opacity: 0;
  }
  91.6666% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes light-3 {
  0% {
    opacity: 0;
  }
  8.3333% {
    opacity: 0;
  }
  16.6666% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  33.3333% {
    opacity: 1;
  }
  41.6666% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  58.3333% {
    opacity: 0;
  }
  66.6666% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  83.3333% {
    opacity: 0;
  }
  91.6666% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes light-4 {
  0% {
    opacity: 0;
  }
  8.3333% {
    opacity: 0;
  }
  16.6666% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  33.3333% {
    opacity: 1;
  }
  41.6666% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  58.3333% {
    opacity: 1;
  }
  66.6666% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  83.3333% {
    opacity: 0;
  }
  91.6666% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes light-5 {
  0% {
    opacity: 0;
  }
  8.3333% {
    opacity: 0;
  }
  16.6666% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  33.3333% {
    opacity: 1;
  }
  41.6666% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  58.3333% {
    opacity: 1;
  }
  66.6666% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  83.3333% {
    opacity: 0;
  }
  91.6666% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes light-6 {
  0% {
    opacity: 0;
  }
  8.3333% {
    opacity: 0;
  }
  16.6666% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  33.3333% {
    opacity: 0;
  }
  41.6666% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  58.3333% {
    opacity: 1;
  }
  66.6666% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  83.3333% {
    opacity: 0;
  }
  91.6666% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes light-7 {
  0% {
    opacity: 0;
  }
  8.3333% {
    opacity: 0;
  }
  16.6666% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  33.3333% {
    opacity: 0;
  }
  41.6666% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  58.3333% {
    opacity: 1;
  }
  66.6666% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  83.3333% {
    opacity: 1;
  }
  91.6666% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes light-8 {
  0% {
    opacity: 0;
  }
  8.3333% {
    opacity: 0;
  }
  16.6666% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  33.3333% {
    opacity: 0;
  }
  41.6666% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  58.3333% {
    opacity: 1;
  }
  66.6666% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  83.3333% {
    opacity: 1;
  }
  91.6666% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes light-9 {
  0% {
    opacity: 0;
  }
  8.3333% {
    opacity: 0;
  }
  16.6666% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  33.3333% {
    opacity: 0;
  }
  41.6666% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  58.3333% {
    opacity: 0;
  }
  66.6666% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  83.3333% {
    opacity: 1;
  }
  91.6666% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/* Swiper */
.swiper-container, .swiper-wrapper {
  width: 100%;
  height: 100vh;
}

.swiper-container {
  overflow: hidden;
}

.swiper-slide {
  cursor: grab;
}

.swiper-slide-one, .swiper-slide-two, .swiper-slide-three {
  background-image: url("images/img-slide-1.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.swiper-slide-two {
  background-image: url("images/img-slide-2.png");
  background-position: 25% 5%;
}

.swiper-slide-three {
  background-image: url("images/img-slide-3.png");
}

.swiper-slide-four {
  background-color: #cacece;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.swiper-slide-four svg {
  max-width: 30%;
  max-height: 40%;
  overflow: visible;
  align-self: center;
}

.swiper-slide-four svg>circle {
  filter: drop-shadow(0px 0px 40px hsla(0, 10%, 10%, 0.15)) blur(0.5px);
}

.swiper-slide-four svg g circle:nth-child(1) {
  filter: blur(8px);
}

.swiper-slide-four svg g circle:nth-child(2) {
  filter: blur(4px);
}

.swiper-slide-four svg g circle:nth-child(3) {
  filter: blur(2px);
}

.swiper-slide-four svg g circle:nth-child(4) {
  filter: blur(0.5px);
}

.swiper-slide-four svg g {
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.swiper-slide-four svg g#light-1 {
  animation-name: light-1;
}
.swiper-slide-four svg g#light-2, .swiper-slide-four svg g#light-16 {
  animation-name: light-2;
}
.swiper-slide-four svg g#light-3, .swiper-slide-four svg g#light-15 {
  animation-name: light-3;
}
.swiper-slide-four svg g#light-4, .swiper-slide-four svg g#light-14 {
  animation-name: light-4;
}
.swiper-slide-four svg g#light-5, .swiper-slide-four svg g#light-13 {
  animation-name: light-5;
}
.swiper-slide-four svg g#light-6, .swiper-slide-four svg g#light-12 {
  animation-name: light-6;
}
.swiper-slide-four svg g#light-7, .swiper-slide-four svg g#light-11 {
  animation-name: light-7;
}
.swiper-slide-four svg g#light-8, .swiper-slide-four svg g#light-10 {
  animation-name: light-8;
}
.swiper-slide-four svg g#light-9 {
  animation-name: light-9;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2027%2044%27%3E%3Cpath%20d%3D%27M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z%27%20fill%3D%27%23000%27%2F%3E%3C%2Fsvg%3E);
  left: 1.5rem;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2027%2044%27%3E%3Cpath%20d%3D%27M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z%27%20fill%3D%27%23000%27%2F%3E%3C%2Fsvg%3E);
  right: 1.5rem;
}