@font-face {
  font-family: ethnocentric;
  src: url("https://use.typekit.net/ljw2cui.css");
}

* {
  box-sizing: border-box;
}

/* Reset */
body, h1, h2, h3, h4, h5, h6, p, span, a, ul, ol, li, div, main, section, article {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Font */
h1, h2, h3, h4, h5, h6, p, a, span, section, main, div {
  font-family: ethnocentric, sans-serif;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  color: #ddd;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0 10%;
}

p, a, span {
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 600;
}

span {
  color: #888;
}

/* Swiper */
.swiper-container, .swiper-wrapper {
  width: 100%;
  height: 100vh;
}

.swiper-container {
  overflow: hidden;
}

.swiper-slide {
  cursor: grab;
}

.swiper-slide-one, .swiper-slide-two, .swiper-slide-three {
  background-image: url("images/img-slide-1.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.swiper-slide-two {
  background-image: url("images/img-slide-2.png");
  background-position: 25% 5%;
}

.swiper-slide-three {
  background-image: url("images/img-slide-3.png");
}

.swiper-slide-four {
  background-color: #cacece;
  justify-content: flex-end;
}

.swiper-slide-four svg {
  width: 30%;
  overflow: visible;
}

.swiper-slide-four svg>circle {
  filter: drop-shadow(0px 0px 40px hsla(0, 10%, 10%, 0.15)) blur(0.5px);
}

.swiper-slide-four svg g circle:nth-child(1) {
  filter: blur(8px);
}

.swiper-slide-four svg g circle:nth-child(2) {
  filter: blur(4px);
}

.swiper-slide-four svg g circle:nth-child(3) {
  filter: blur(2px);
}

.swiper-slide-four svg g circle:nth-child(4) {
  filter: blur(0.5px);
}

.swiper-slide-four svg g#light-1 {
  animation: light-1 2s alternate infinite linear;
}
.swiper-slide-four svg g#light-2 {
  animation: light-2 2s alternate infinite linear;
}
.swiper-slide-four svg g#light-3 {
  animation: light-3 2s alternate infinite linear;
}
.swiper-slide-four svg g#light-4 {
  animation: light-4 2s alternate infinite linear;
}
.swiper-slide-four svg g#light-5 {
  animation: light-5 2s alternate infinite linear;
}
.swiper-slide-four svg g#light-6 {
  animation: light-6 2s alternate infinite linear;
}
.swiper-slide-four svg g#light-7 {
  animation: light-7 2s alternate infinite linear;
}
.swiper-slide-four svg g#light-8 {
  animation: light-8 2s alternate infinite linear;
}

@keyframes light-1 {
  0% {
    opacity: 1;
  }
  12.5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  32.5% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  62.5% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  82.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes light-2 {
  0% {
    opacity: 0;
  }
  12.5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  32.5% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  62.5% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  82.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes light-3 {
  0% {
    opacity: 0;
  }
  12.5% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  32.5% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  62.5% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  82.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes light-4 {
  0% {
    opacity: 0;
  }
  12.5% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  32.5% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  62.5% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  82.5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes light-5 {
  0% {
    opacity: 0;
  }
  12.5% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  32.5% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  62.5% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  82.5% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes light-6 {
  0% {
    opacity: 0;
  }
  12.5% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  32.5% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  62.5% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  82.5% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes light-7 {
  0% {
    opacity: 0;
  }
  12.5% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  32.5% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  62.5% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  82.5% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes light-8 {
  0% {
    opacity: 0;
  }
  12.5% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  32.5% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  62.5% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  82.5% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes light-8 {
  0% {
    opacity: 0;
  }
  12.5% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  32.5% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  62.5% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  82.5% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2027%2044%27%3E%3Cpath%20d%3D%27M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z%27%20fill%3D%27%23000%27%2F%3E%3C%2Fsvg%3E);
  left: 1.5rem;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2027%2044%27%3E%3Cpath%20d%3D%27M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z%27%20fill%3D%27%23000%27%2F%3E%3C%2Fsvg%3E);
  right: 1.5rem;
}